{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .main-wrapper{
                height:100vh;

            }
            #maintext{
                color: aliceblue;
            }
        </style>
        <title>Bites For Bytes</title>
        <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/old-people-care-blue-line/64/32_diet-food-cafe-512.png">

    </head>
    <body>
        <div class="main-wrapper " style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(116, 13, 13, 0.5) ), url('https://i.pinimg.com/originals/81/c4/fc/81c4fc9a4c06cf57abf23606689f7426.jpg') no-repeat center center /cover ; ">

            <div class="row h-100 text-center" >
                <div class="col-sm-12 my-auto">
                    <div class="jumbotron jumbotron-fluid" style="background: transparent;">
                        <div class="container" id="maintext" >
                            <h1 class="display-4">Opps ... your cart looks empty :(</h1> 
                            <br><br>
                            <a href="{% url 'ordernow' %}">
                                <button type="button" class="btn btn-outline-light btn-lg">
                                    <strong>Add more items</strong> 
                                </button>
                            </a>
                            
                        </div>
                      </div>
                </div>
             </div>

        </div>
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    </body>
</html>